<!DOCTYPE html>
<html>
<head>
	<title>BUS BOOK</title>
	<meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Googlefont-->
   <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
     <!--font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
     
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="/styles.css">

     <style>
      blink {
        animation: blinker 0.9s linear infinite;
        color:rgb(0, 51, 0);
       }
      @keyframes blinker {  
        50% { opacity: 0; }
       }
       .blink-one {
         animation: blinker-one 1s linear infinite;
       }
    .modal-header, h4, .close {
    background-color:rgb(51, 51, 0);
    color:white !important;
    text-align: center;
    font-size: 30px;
  }

  .modal-footer{
    background-color: rgb(51, 51, 0);
  }
     label {
  display: inline-block;
  width: 340px;

}​
    </style>
    
</head>

<body>
    
    <section>
   <div class="container"  >
       <nav class="navbar navbar-expand-lg navbar-light  " >
            <img id="ig" src="logo.png" style="height: 75px;border-radius: 50%;">
                <a class="navbar-brand" href="#" style="font-size:2.0rem; color:white;font-family: coiny;" >Tours & Travels</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo2">
                 <span class="navbar-toggler-icon"></span>
                 </button>
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo2" style='font-family:Courier New;font-weight:bold;font-size:20px;'>
                      <ul class="navbar-nav ml-auto" >
                            <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/" style="color:white;">Home</a>
                            </li>
                             
                             <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/about" style="color:white;">About Us</a>
                            </li>

                             <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/contact" style="color:white;">Contact</a>
                            </li>

                            <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/cabpage" style="color:white;">Cab_Book</a>
                            </li>

                             <li class="nav-item" style="padding:10px 18px 18px 0px;" >
                                 <a class="nav-link" href="/services" style="color:white;">Services</a>
                            </li>
                                  
                                   
                                 </ul>
                           </div>
                   </nav>
     </div>


</section>



<section id='seat-status' style='margin-top:20px;'>
     <div style="width:90%; margin:0 auto;background-color:rgb(204, 255, 204);padding: 10px 20px ">
        <center><img src="lion.gif" style='width: 150px;height: 150px;border-radius: 50%'></center>
        <div class='bus-name-seat'><blink><%= name%></blink></div><hr width="75%">
        <div class='row'>
            <div class='col-lg-6'>
               <div class="shadow p-3  rounded status">No Of Available Window Seats:- <%=avlwindowseats%></div>
               <div class="shadow p-3  rounded status">No Of Available Sleeper Seats:- <%=avlsleepers%></div>
               <div class="shadow p-3  rounded status">No Of Available Non-Window Seats:- <%=avlnonwindowseats%></div>

               <div class="shadow p-3  rounded status">Cost of sleeper seat:- <%=slcost%></div>
               <div class="shadow p-3  rounded status">Cost of window seat:- <%=wincost%></div>
               <div class="shadow p-3  rounded status">Cost of non-window seat:- <%=nonwincost%></div>
               <center>
                   <button class='btn btn-success' style='background-color: lightblue;padding: 10px 40px;border-radius: 20px;color:green;font-weight: bold;' data-toggle="modal" data-target="#myModal">Book Now</button>
               </center>
            </div> 

            <div class='col-lg-6' style='background: rgba(0,0,0,0.5)'>
                <div class='inst-head'>GuideLines</div><hr width="50%">
                <div class='inst-head-info'>It is important to note that for booking we must be the member of our site users.It means you must have to Login First. If you donot have  created account  then first create and verify then sign Up to book your seat</div></br>
                <div style='font-weight: bold;font-style: italic;font-size: 15px;color:white;'>Thank You</div>
            </div>  
        </div>
        
     </div>
     
    
</section>







<section id='modalcontent'>
 <div class="modal fade bd-example-modal-xl" id="myModal" role="dialog">
    <div class="modal-dialog modal-xl ">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <h4 style="font-family: Courier New;font-weight: bold;text-align:center;margin-left: 30%">
            HURRY UP & BOOK NOW
            
          </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body" style="padding:40px 50px;background-color: rgb(255, 255, 204)">
      <div class='row'>
         <div class='col-lg-8'>
          <form action='/booknow' method="post">
            <div >
               <label for="usrname" style='font-weight: bold;'><i class="fa fa-user icon" style="color:red;background-color: white"></i> Enter Your Name</label>
               <input type="text" name="username" id="username" placeholder="Enter name" required autofocus>
            </div>
            <div >
               <label for="contact" style='font-weight: bold;'><i class="fa fa-user icon" style="color:red;background-color: white"></i> Enter Your Contact</label>
               <input type="text" name="contact" id="contact" placeholder="Enter contact" required autofocus>
            </div>
            
            <div class="form-group">
               <label for="sleeer" style='font-weight: bold;'><i class="fa fa-user icon" style="color:red;background-color: white"></i> Enter No Of Sleeper seat</label>
               <input type="number" name="sleeper" id="sleeper"   min="0" max="<%=avlsleepers%>" required autofocus >
            </div>

            <div class="form-group">
               <label for="sleeer" style='font-weight: bold;'><i class="fa fa-user icon" style="color:red;background-color: white"></i> Enter No Of Window seat</label>
               <input type="number" name="window" id="window"  min="0" max="<%=avlwindowseats%>" required autofocus>
            </div>
            <input type='hidden' name="arrivaldate" value="<%=arrivaldate%>">
            <input type='hidden' name="from" value="<%=from%>">
            <input type='hidden' name="to" value="<%=to%>">
            <input type='hidden' name="busname" value="<%=name%>">
            <input type="hidden" name="slcost" value="<%=slcost%>">
            <input type="hidden" name="wincost" value="<%=wincost%>">
            <input type="hidden" name="nonwincost" value="<%=nonwincost%>">

            <div class="form-group">
               <label for="sleeper" style='font-weight: bold;'><i class="fa fa-user icon" style="color:red;background-color: white"></i> Enter No Of Non-Window seat</label>
               <input type="number" name="nonwindow" id="nonwindow"  min="0" max="<%=avlnonwindowseats%>" required autofocus>
            </div>
             
             <label for="sleeer" style='font-weight: bold;'>Enter Payment mode</label> 
               <div class="form-check">
                  <label class="form-check-label">
                     <input type="radio"  name="radio" id="radio" value="cashondelivery" required autofocus>Cash ON Delivery
                  </label>
              </div>
              <div class="form-check">
                 <label class="form-check-label">
                     <input type="radio"  name="radio" id="radio" value="onlineypayment" required autofocus>Onine Payment
                </label>
              </div>
            
           
              <button type="submit" class="btn btn-success btn-block" onclick="login()" style='background-color: rgb(51, 51, 0)'>BOOK NOW</button>

          </form>
        </div>

           <div class='col-lg-4'>
             
           </div>
        </div>
        </div>
        
      </div>
      
    </div>
  </div> 
</div>
 
</section>






</body>
</html>